/**************************************
    GENERAL RULES
 **************************************/
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

img {
    max-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
}


/**************************************
    UTILITIES
 **************************************/
.text_orange{
    color: #ff8f00;
}

 .hidden_sm {
    display: none;
}

        /* Query LG */
        @media screen and (min-width: 992px) {
                    
            .hidden_sm {
                display: inline-block;
            }

            .hidden_lg {
                display: none;
            }

        }


/**************************************
    STRUCTURE
 **************************************/

/* HEADER */
header {
    height: 70px;
}

#logo_sm {
    height: 100%;
}

header nav span i {
    margin: 0 10px;
}

/* BOTTOM */
.bottom_block {
    height: calc(100% - 70px);
    display: flex;
}

    /* SIDE NAV */
    .bottom_block > nav {
        width: 70px;
        height: 100%;
        background-image: url("../img/sidebar-bg.png");
        background-color: #0d2035;
    }
        
    .bottom_block #right_block {
        width: calc(100% - 70px);
        overflow-y: scroll;
    } 
        
    
        /* Side nav query from LG (992px) */
            
        @media screen and (min-width:992px) {
            
            .bottom_block > nav {
                width: 150px;
            }

            .bottom_block #right_block {
                width: calc(100% - 150px);
            } 
        }

#right_block > nav {
    width: 100%;
    min-height: 125px;
    background-color: #1b72e8;
}
    

/**************************************
    DEBUG
 **************************************/

 /* #right_block {
    border: solid 2px blueviolet;
 }

 .bottom_block > nav {
    background-color: cadetblue;
 }

 [class*="col"] {
    border: solid 1px;
 } */